* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4ece6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* هيني استخدمت flex  */ 
.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    overflow: hidden;
}
/* هدول عشان الصوره */ 
.product-image img {
    width: 300px;
    object-fit: cover;
}

.product-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category {
    font-size: 12px;
    letter-spacing: 2px;
    color: gray;
    text-transform: uppercase;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.price-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
/*  هاد للسعر*/ 
.price {
    font-size: 28px;
    font-weight: bold;
    color: #228B22;
}
/* السعر قبل الخصم*/ 
.old-price {
    font-size: 18px;
    color: gray;
    text-decoration: line-through;
}
/*هاد للكبسه الي تحت  */ 
.add-to-cart {
    background-color: #228B22;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* هاد بس اقرب الماوس عليه بصير لون اغمق*/ 
.add-to-cart:hover {
    background-color: #1a6e1a;
}
